<% include ../partials/header %>
    <h5><a href="/">Torna alla pagina iniziale</a></h5>
    <h5><a href="/api/tessere/view">Torna a tutte le tessere</a></h5>
    <h1>Aggiungi una tessera</h1>
    <form id="addTesseraForm">
        <p><b>Numero tessera </b><input type="number" min=1 required id="numero_tessera" name="numero_tessera"></input> <b>*</b></p>
        <p><b>Seriale </b><input type="text" required id="seriale" name="seriale" </input> <b>*</b></p>
        <p>
            <b>Stato</b> <b>*</b>
            <input type="radio" required id="attivata" name="stato" value="attivata"></input>Attivata
            <input type="radio" required id="disattivata" name="stato" value="disattivata"></input>Disattivata
        </p>
        <p><button type="submit">Aggiungi</button></p>
    </form>
<% include ../partials/footer %>
