<html>
    <head>
        <title>SimSim Database</title>
        <link rel="stylesheet" href="/css/404.css">
    </head>
    <body class="bg-purple">
        <div class="stars">
            <div class="custom-navbar">
                <div class="brand-logo">
                    <img src="/img/yatta-logo.png" width="80px"> <!-- change logo-->
                </div>
            </div>
            <div class="central-body">
                <img class="image-404" src="/img/404.svg" width="300px">
                <a href="/" class="btn-go-home">GO BACK HOME</a>
            </div>
            <div class="objects">
                <img class="object_rocket" src="/img/rocket.svg" width="40px">
                <div class="earth-moon">
                    <img class="object_earth" src="/img/earth.svg" width="100px">
                    <img class="object_moon" src="/img/moon.svg" width="80px">
                </div>
                <div class="box_astronaut">
                    <img class="object_astronaut" src="/img/astronaut.svg" width="140px">
                </div>
            </div>
            <div class="glowing_stars">
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
            </div>
        </div>
    </body>
</html>
